# Elixir project ignores
tfg_umbrella/_build/
tfg_umbrella/cover/
tfg_umbrella/deps/
tfg_umbrella/doc/
tfg_umbrella/erl_crash.dump
*.ez
tfg_umbrella/tmp/

# Docker data folder
/docker/

# Latex compile files
/document/**/*.aux
/document/**/*.log
/document/**/*.lof
/document/**/*.out
/document/**/*.toc
/document/**/*.gz
/document/**/*.xmpi
/document/**/*.lot
/document/**/*.Identifier

# Drawio backup files
/document/**/*.bkp

# Environment variables file
.env