services:
  db:
    image: postgres:17
    container_name: database
    restart: always
    network_mode: 'host'
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_DB=gamedb
      - POSTGRES_PASSWORD=1234
    volumes:
      - ./docker/data:/var/lib/postgresql/data